.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-change-wrapper {
  margin-top: 3.5vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.bg-change-block {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.paragraph {
  display: inline;
}

.main-btn {
  width: 30%;
  position: absolute;
  top: 170px;
  height: 7vh;
  border: 2px solid black;
  border-radius: 7px;
  text-align: center;
  align-items: center;
}

.button-preview-wrapper {
  margin-top: 40px;
}

@media only screen and (min-width: 425px) {
  .bg-change-wrapper {
    padding: 0 20vw;
  }
}

@media only screen and (min-width: 1024px) {
  .bg-change-wrapper {
    padding: 0 35vw;
  }
}

@media only screen and (min-width: 1920px) {
  .bg-change-block {
    height: 30px;
    width: 30px;
  }

  .main-btn {
    top: 20vh;
    font-size: 30px;
  }

  .paragraph {
    font-size: 30px;
  }
}
