.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-change-wrapper {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.bg-change-block {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 4px;
}

.paragraph {
  display: inline;
}

.main-btn {
  width: 30%;
  height: 7vh;
  margin-top: 70px;
  border: 2px solid black;
  border-radius: 7px;
}

.button-preview-wrapper {
  margin-top: 40px;
}

@media only screen and (min-width: 425px) {
  .bg-change-wrapper {
    padding: 0 20vw;
  }
}
