.header {
  height: 6.5vh;
  width: 100%;
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: inline;
}

.icon {
  margin: 0 10px;
}
