.header {
  height: 50px;
  width: 100%;
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 5px #000000;
}

.header-wrapper {
  position: fixed;
}

.title {
  display: inline;
}

.icon {
  margin: 0 10px;
}

@media (min-width: 1920px) {
  .header {
    height: 85px;
  }

  .title {
    font-size: 60px;
  }

  .icon {
    height: 55px;
  }
}
