.colour-choice {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 4px;
  overflow: hidden;
}

.input {
  background-color: var(--orange);
  border-radius: 4px;
  width: 50%;
}

.extended-line {
  display: flex;
  flex-direction: row;
}

.extended-wrapper {
  width: 100%;
}

.extended-line p {
  margin-bottom: 5px;
}

.padding {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.padding-header {
  width: 110px;
}
